{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": false,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-glsl"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    },
    {
      "files": ["*.frag"],
      "options": { "parser": "glsl-parser" }
    }
  ]
}
